/***** configs *****/
/*****************/
/***** fonts *****/
/*****************/
/******************/
/***** colros *****/
/******************/
/*****************/
/***** width *****/
/*****************/
/*******************/
/***** easings *****/
/*******************/
/***** reset *****/
body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  line-height: 1.66;
  color: #1d1d1d;
  background: #fff; }

* {
  box-sizing: border-box; }

a {
  color: inherit;
  outline: 0;
  cursor: pointer; }

ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none; }

img {
  max-width: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Source Serif Pro", serif; }

h1 {
  font-size: 48px; }

h2 {
  font-size: 36px; }

h3 {
  font-size: 27px; }

h4 {
  font-size: 20px; }

h5 {
  font-size: 12rem; }

h6 {
  font-size: 10px; }

/***********************/
/***** transitions *****/
/***********************/
/*********************/
/***** gradients *****/
/*********************/
/****************/
/***** text *****/
/****************/
.light {
  font-weight: 300 !important; }

.regular {
  font-weight: 400 !important; }

.bold {
  font-weight: 700 !important; }

.caps {
  text-transform: capitalize; }

.lower {
  text-transform: lowercase; }

.upper {
  text-transform: uppercase; }

.ellipsis,
.ellipsis > * {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

/************/
/*** flex ***/
/************/
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .flex > * {
    min-width: 0; }
  .flex__center {
    justify-content: center; }
  .flex__end {
    justify-content: flex-end; }
  .flex__start {
    justify-content: flex-start; }
  .flex__top {
    align-items: flex-start; }
  .flex__bottom {
    align-items: flex-end; }
  .flex__wrap {
    flex-wrap: wrap; }

/***** components *****/
/****************/
/***** main *****/
/****************/
.main-container {
  min-height: 100vh;
  padding: 180px 60px;
  position: relative; }

/*******************/
/***** landing *****/
/*******************/
.landing-section {
  margin: 0 0 90px; }

.landing-text {
  line-height: 1;
  text-align: center; }
  .landing-text h1 {
    margin: 0;
    text-transform: uppercase; }
  .landing-text p {
    margin: 5px 0 0;
    color: #999999; }

/*******************/
/***** footer *****/
/*******************/
.footer {
  position: absolute;
  left: 50%;
  bottom: 90px;
  transform: translate(-50%, 50%);
  color: #999999; }
  .footer p {
    margin: 0; }
  .footer a {
    transition: all 0.3s ease-in-out; }
    .footer a:hover {
      color: #4d4d4d; }

/**********************/
/***** experiment *****/
/**********************/
.experiment {
  padding: 60px 0; }
  .experiment--header {
    margin: 0 0 30px;
    text-align: center; }
    .experiment--header p {
      margin: 0;
      color: #999999; }
    .experiment--header h3 {
      margin: 0; }
  .experiment--board {
    max-width: 1000px;
    margin: auto; }
    .experiment--board__medium {
      max-width: 750px; }
    .experiment--board__small {
      max-width: 500px; }

/**************************/
/***** unsplash badge *****/
/**************************/
.unsplash-badge {
  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: 100; }

/************************/
/***** hover effect *****/
/************************/
.hover-box {
  perspective: 2000px; }
  .hover-box--sensor {
    width: calc(100%/3);
    height: calc(100%/3);
    position: absolute;
    z-index: 10; }
    .hover-box--sensor:nth-child(n+4) {
      top: calc(100%/3); }
    .hover-box--sensor:nth-child(n+7) {
      top: calc(100%/3*2); }
    .hover-box--sensor:nth-child(3n+2) {
      left: calc(100%/3); }
    .hover-box--sensor:nth-child(3n+3) {
      left: calc(100%/3*2); }
    .hover-box--sensor:hover:nth-child(1) ~ .hover-box--base,
    .hover-box--sensor:hover:nth-child(1) ~ .hover-box--unsplash-badge {
      transform: rotate3d(-1, 1, 0, -15deg); }
    .hover-box--sensor:hover:nth-child(2) ~ .hover-box--base,
    .hover-box--sensor:hover:nth-child(2) ~ .hover-box--unsplash-badge {
      transform: rotate3d(1, 0, 0, 15deg); }
    .hover-box--sensor:hover:nth-child(3) ~ .hover-box--base,
    .hover-box--sensor:hover:nth-child(3) ~ .hover-box--unsplash-badge {
      transform: rotate3d(1, 1, 0, 15deg); }
    .hover-box--sensor:hover:nth-child(4) ~ .hover-box--base,
    .hover-box--sensor:hover:nth-child(4) ~ .hover-box--unsplash-badge {
      transform: rotate3d(0, 1, 0, -15deg); }
    .hover-box--sensor:hover:nth-child(6) ~ .hover-box--base,
    .hover-box--sensor:hover:nth-child(6) ~ .hover-box--unsplash-badge {
      transform: rotate3d(0, 1, 0, 15deg); }
    .hover-box--sensor:hover:nth-child(7) ~ .hover-box--base,
    .hover-box--sensor:hover:nth-child(7) ~ .hover-box--unsplash-badge {
      transform: rotate3d(-1, -1, 0, 15deg); }
    .hover-box--sensor:hover:nth-child(8) ~ .hover-box--base,
    .hover-box--sensor:hover:nth-child(8) ~ .hover-box--unsplash-badge {
      transform: rotate3d(1, 0, 0, -15deg); }
    .hover-box--sensor:hover:nth-child(9) ~ .hover-box--base,
    .hover-box--sensor:hover:nth-child(9) ~ .hover-box--unsplash-badge {
      transform: rotate3d(1, -1, 0, -15deg); }
  .hover-box--unsplash-badge {
    right: 50px;
    bottom: 50px;
    z-index: 150;
    transform-origin: left top;
    transition: all 1.5s ease-in-out; }
    .hover-box--unsplash-badge:hover {
      transform: rotate3d(1, -1, 0, -15deg); }
      .hover-box--unsplash-badge:hover ~ .hover-box--base {
        transform: rotate3d(1, -1, 0, -15deg); }
  .hover-box--base {
    padding: 30px;
    transition: all 1.5s ease-in-out; }
  .hover-box--image {
    padding: 116.2% 0 0;
    background-color: #423127;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right center;
    background-image: url(https://source.unsplash.com/NTyBbu66_SI/500x581);
    border-radius: 5px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3); }

/*********************************/
/***** drag to reveal effect *****/
/*********************************/
.drag-board {
  max-width: 100%; }
  .drag-board--holder {
    padding: calc(2/3 * 100%) 0 0;
    position: relative; }

.drag-box {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  background: #1d1d1d;
  border-radius: 5px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3); }
  .drag-box--image {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right center;
    background-image: url(https://source.unsplash.com/-uWYx_tcvPw/750x500); }
  .drag-box--tile {
    min-width: calc(5% + 8px);
    max-width: calc(95% - 4px);
    height: calc(50% + 4px);
    position: relative;
    z-index: 2;
    opacity: 0;
    resize: horizontal;
    overflow: hidden; }
  .drag-box--drag {
    width: 16px;
    height: 16px;
    margin: -8px -4px 0 -12px;
    position: relative;
    top: 50%;
    z-index: 1;
    background: #fff;
    border-radius: 8px; }
    .drag-box--drag:before, .drag-box--drag:after {
      content: '';
      display: block;
      width: 4px;
      height: 4px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      border: 2px rgba(0, 0, 0, 0.8) solid; }
    .drag-box--drag:before {
      border-width: 0 0 1px 1px;
      margin-left: -2px; }
    .drag-box--drag:after {
      border-width: 1px 1px 0 0;
      margin-left: 2px; }
  .drag-box--base {
    margin-left: -4px;
    flex-grow: 100;
    height: 100%;
    border-left: 1px #fff solid;
    overflow: hidden;
    position: relative; }
    .drag-box--base .drag-box--image {
      filter: blur(10px);
      -webkit-filter: blur(10px); }
