.featured {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  max-width: 840px;
  margin: auto;
}

.featured-item {
  padding: 2rem;
  border: 1px $gray solid;
  border-radius: 0.5rem;
  img {
    height: 40px;
  }
  p {
    margin: 1.5rem 0 0;
    small {
      display: inline-flex;
      margin: 0 0 0.5rem;
      color: $gray;
      font-size: 0.5em;
    }
    span {
      border: 1px $gray solid;
      padding: 0.25rem 1rem;
      border-radius: 2rem;
    }
    a {
      display: inline-flex;
      margin: 1.5rem 0 0;
    }
  }
}
