/****************/
/***** main *****/
/****************/
.main-container {
  min-height: 100vh;
  padding: 6rem 3rem 8rem;
  position: relative;
  @include forwidth(720) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  @include forwidth(360) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

/******************/
/***** footer *****/
/******************/
.footer {
  margin: 5rem 0 0;
  text-align: center;
  p {
    margin: 0;
  }
  a {
    margin: 0 0.25rem;
    font-weight: 600;
    @include transition();
    &:hover {
      text-decoration: none;
    }
  }
  @include forwidth(360) {
    margin: 3rem -1rem 0;
    a {
      margin: 0 0.2rem;
    }
  }
}

/*******************/
/***** section *****/
/*******************/
.section {
  margin: 5rem 0 0;
  text-align: center;
  h5 {
    margin: 0 0 3rem;
    color: $gray_dark;
  }
  @include forwidth(360) {
    margin: 3rem 0 0;
    h5 {
      margin: 0 0 2rem;
    }
  }
}
