/************************/
/***** hover effect *****/
/************************/

.hover-box{
  perspective: 2000px;
  &--sensor{
    width: calc(100%/3);
    height: calc(100%/3);
    position: absolute;
    z-index: 10;
    &:nth-child(n+4){
      top: calc(100%/3);
    }
    &:nth-child(n+7){
      top: calc(100%/3*2);
    }
    &:nth-child(3n+2){
      left: calc(100%/3);
    }
    &:nth-child(3n+3){
      left: calc(100%/3*2);
    }
    &:hover{
      &:nth-child(1){
        & ~ .hover-box--base,
        & ~ .hover-box--unsplash-badge{          
          transform: rotate3d(-1,1,0,-15deg);
        }
      }
      &:nth-child(2){
        & ~ .hover-box--base,
        & ~ .hover-box--unsplash-badge{          
          transform: rotate3d(1,0,0,15deg);
        }
      }
      &:nth-child(3){
        & ~ .hover-box--base,
        & ~ .hover-box--unsplash-badge{          
          transform: rotate3d(1,1,0,15deg);
        }
      }
      &:nth-child(4){
        & ~ .hover-box--base,
        & ~ .hover-box--unsplash-badge{          
          transform: rotate3d(0,1,0,-15deg);
        }
      }
      &:nth-child(6){
        & ~ .hover-box--base,
        & ~ .hover-box--unsplash-badge{          
          transform: rotate3d(0,1,0,15deg);
        }
      }
      &:nth-child(7){
        & ~ .hover-box--base,
        & ~ .hover-box--unsplash-badge{          
          transform: rotate3d(-1,-1,0,15deg);
        }
      }
      &:nth-child(8){
        & ~ .hover-box--base,
        & ~ .hover-box--unsplash-badge{          
          transform: rotate3d(1,0,0,-15deg);
        }
      }
      &:nth-child(9){
        & ~ .hover-box--base,
        & ~ .hover-box--unsplash-badge{          
          transform: rotate3d(1,-1,0,-15deg);
        }
      }
    }
  }
  &--unsplash-badge {
    right: 50px;
    bottom: 50px;
    z-index: 150; 
    transform-origin: left top;  
    @include transition(1.5s);
    &:hover {
        transform: rotate3d(1,-1,0,-15deg);
        & ~ .hover-box--base{
          transform: rotate3d(1,-1,0,-15deg);
        }      
    }
  }
  &--base{
    padding: 30px;
    @include transition(1.5s);
  }
  &--image{
    padding: 116.2% 0 0;
    background-color: #423127;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right center;
    background-image: url(https://source.unsplash.com/NTyBbu66_SI/500x581);
    border-radius: 5px;
    box-shadow: 0 0 10px 1px rgba(#000,0.3);
  }
}