.landing-section {
  margin: 0 0 3rem;
}

.landing-text {
  max-width: 960px;
  margin: auto;
  line-height: 1;
  text-align: center;
  h1 {
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 5px;
  }
  p {
    margin: 0 0 2rem;
    color: $gray;
  }
  h3 {
    margin: 0;
    font-family: $base_font;
    font-weight: 400;
  }
}
