.landing-section {
  margin: 0 0 3rem;
}

.landing-text {
  max-width: 1080px;
  margin: auto;
  line-height: 1;
  text-align: center;
  h1 {
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 5px;
  }
  p {
    margin: 0 0 2rem;
    color: $gray;
  }
  h3 {
    margin: 0;
    font-family: $base_font;
    font-weight: 400;
  }
  @include forwidth(640, 361) {
    h3 {
      font-size: 1.5rem;
    }
  }
  @include forwidth(420) {
    h1 {
      line-height: 1;
      margin: 0 0 0.5rem;
    }
  }
  @include forwidth(360) {
    h3 {
      font-size: 1.25rem;
    }
  }
}
