/***********************/
/***** transitions *****/
/***********************/

@mixin transition($duration: 0.3s, $easing: ease-in-out) {
	transition: all $duration $easing;
}



/*********************/
/***** gradients *****/
/*********************/

@mixin vertical-gradient($from, $to, $stop: 100%) {
	background-color: $from;
	background-image: -moz-linear-gradient(top, $from 0%, $to $stop);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $from));
	background-image: -webkit-linear-gradient(top, $from 0%, $to $stop);
	background-image: -o-linear-gradient(top, $from 0%, $to $stop);
	background: -ms-linear-gradient(top, $from 0%, $to $stop);
	background: linear-gradient(to bottom, $from 0%, $to $stop);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$to',GradientType=0 );
}

@mixin horizontal-gradient($from, $to, $stop: 100%) {
	background-color: $from;
	background-image: -moz-linear-gradient(left, $from 0%, $to $stop);
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, $from));
	background-image: -webkit-linear-gradient(left, $from 0%, $to $stop);
	background-image: -o-linear-gradient(left, $from 0%, $to $stop);
	background: -ms-linear-gradient(left, $from 0%, $to $stop);
	background: linear-gradient(to right, $from 0%, $to $stop);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$to',GradientType=1 );
}