/***** reset *****/
body {
	margin: 0;
	padding: 0;
	font-family: $base_font;
	-webkit-font-smoothing: antialiased;
	font-size: 16px;
	line-height: 1.66;
	color: $base_color;
	background: #fff;
}

* {
	box-sizing: border-box;
}

a {
	color: inherit;
	outline: 0;
	cursor: pointer;
}

ul {
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;
}

img {
	max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $head_font;
}

h1 {
	font-size: 48px;
}
h2 {
	font-size: 36px;
}
h3 {
	font-size: 27px;
}
h4 {
	font-size: 20px;
}
h5 {
	font-size: 12rem;
}
h6 {
	font-size: 10px;
}
